.container {
    width: 100%;
    max-width: 1200px;
    margin: 80px auto 0;
    overflow-x: auto;
}

.franchise-header {
    text-align: left;
    margin-top: 20px;
}

.franchise-item-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 20px;
}

.franchise-item-card {
    display: flex;
    flex-wrap: nowrap;
}

.franchise-item {
    flex: 0 0 auto;
    margin-right: 70px;
    width: 120px;
}

.franchise-item-titel {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.franchise-item-image {
    max-width: 165px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 10px;
}